validation error in the email validation

Email address format has its own standards [RFC 5321](http://tools.ietf.org/html/rfc5321) and [RFC 5322](http://tools.ietf.org/html/rfc5322), and extensions like [RFC 6531](http://tools.ietf.org/html/rfc6531).

Under these rules, email nickname@zone is correct. 

[Angular input type="email"](https://docs.angularjs.org/api/ng/input/input%5Bemail%5D) validates in accordance with these rules.

But here I just turned on the regime boring)))

more serious problem is that the not allowed Cyrillic characters!

This email - кокер@спаниель.рф it is also valid!

Please correct this unfortunate mistake

You can look at the file `validation-rules.js` and make a correction yourself, I would be happy to have your help. The following is the `email` validation check:
```javascript`
case "email" :
  validator = {
    pattern: "^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
    message: "INVALID_EMAIL",
    type: "regex"
  };
  break;
```

I believe that I got a good solution, it's not bullet proof but it covers all of the cases you mentioned, including also the Cyrillic characters. I took this [example](http://www.regular-expressions.info/email.html) but modified it to add the Cyrillic characters and also modified it to accept the email nickname@zone

So it should be ok now
Thanks

`/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)`

this regex will work . and validate nickname@zone to  incorrect
but not the  Cyrillic characters
